myApplication/Connected Services/GetTip/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetTip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bill" type="xs:double" />
        <xs:element minOccurs="0" name="percentage" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipReturn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>